
/* ################################################################ */
/* This is the css style file to be used for individual image pages */
/* ################################################################ */



/* Style html body */

body { 
  margin: 0 auto; 
  margin-top: 190px;
  background-color: white;
  /*background-image: url("bg.jpg");*/
  width:100%;
}


.pic {
  position: fixed;
  margin-top: 0.72em;
  top: 0px;
  left: 15px;
}.otherlang {
  position: fixed;
  top: 5px;
  right: 15px;
}


.shlokanum {
  padding-top: 8px;
  /*text-align: center;*/
  font-size: 26px;
  line-height: .2em;
  position:fixed;
  left:50%;
  transform: translate(-50%);
  top:0px;
  z-index:-1;
}
.shloka {
  margin-top: 0.7em;
  padding-top: 0px;
  font-size: 27px;
  display:block;
  position:fixed;
  line-height:1.3;
  left:50%;
  text-shadow: 1px 1px lightgray;
  transform: translate(-50%);
  top:43px;
  z-index:-1;
}
.shlokabreak {
  top:126px;
  font-size: 20px;
  position:fixed;
  width: 100%;
  /*text-align: center;*/
  padding-left: 180px;
  padding-top: 6px;
  z-index:-1;
}
.fixed_container {
  position: fixed;
  overflow: auto;
  top:191px;
  width: 100%;
  height: 450px;
  z-index:10; 
}




.grid-container {
  display: grid;
  grid-template-columns: repeat(6,calc(30%));
  background-color: white;
  padding: 0px;
}
.grid-item {
  background-color: white;
  border: .5px solid #808080;
  border-top: 0px;
  padding: 0px 20px;
  font-size: 30px;
  text-align: justify;
  
}
.grid-item h6 {
  margin-top: 0.67em;
  margin-bottom: 0.67em; 
}




.summary {
  font-size: 18px;
  color: black;
  z-index:600;
  position: relative;
}
.explain{
  font-size: 18px;
  color: #616263;
  z-index:600;
}












